Welcome!
<br></br>
<a href="/restaurants">View Restaurants </a>
<br></br>
<a href="/api/menus">View Menus</a>
<br></br>
<a href="/api/menuItems">View Menu Items</a>
<br></br>
<a href="/restaurants/new">Create New Restaurant</a>