Create a New Restaurant!
<br></br>

<form action="/restaurants" method="post">
      <label for="name">Name</label>
      <br>
      <input type="text" id="name" name="name" required placeholder="Enter Name"> 
      <br>
      <label>Image Link</label>
      <br>
      <input type="text" id="imagelink" name="imagelink" required placeholder="Enter Image Link"> 
      <br>
      <input type="submit" text="Submit">